@model ASP.Models.VehicleViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VehicleViewModel</h4>
    <hr />
    <dl class="row">
        <dd>
            @Html.DisplayNameFor(model => model.VehicleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleName)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.VehicleMark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleColor)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.VehiclePrice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VehicleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
