@model ASP.Models.VehicleViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VehicleViewModel</h4>
    <hr />
    <dl class="row">
        <dd>
            @Html.DisplayNameFor(model => model.VehicleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleName)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.VehicleMark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleColor)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.VehiclePrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VehicleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
